@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "color.scss";
@import "mixins";


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';

}

/*NavBar*/
.conteneur {
  position: relative;
  background-color: white;
  display: flex;
  width: 100%;
  height: 5em;
  align-items: center;
  justify-content: flex-start;
}

.conteneur a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-around;
}

/*fleche*/

.conteneur a.fleche {
  position: sticky;

}

.fas.fa-arrow-left {
  margin: 20px 0 0 20px;
  font-size: 2em;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  align-content: center;
  align-items: center;
}


/* titre OHMYFOOD*/

.conteneur a.titre {
  width: 100%;
  position: absolute;
  

}

h5 {
  font-family: 'Shrikhand', 'sans-serif';
  font-size: 2.8em;
  display: flex;
  margin: 20px 0 0 0;
  justify-content: center;
  align-items: center;
  align-content: center;
}


/*Fin NavBar */

/*Couleur de Fond*/
.couleurfond {
  background-color: #f6f6f6;
  border-radius: 2em 2em 0 0;
  width: 100%;
  top: 30em;
  position: sticky;
}

/* Reglage Images */
.restaurant {
  margin: 60px 0 0 0;
  width: 100%;
}


div.restaurant img {
  width: 100%;
  height: 32em;
  object-fit: cover;
  margin: -100px 0 -60px 0;
}

/*Menu entre plats desserts*/
.menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/*Titres*/
div.titre {
  width: 96%;
  display: flex;
  justify-content: space-between;
}

.titre h1 {
  padding:1em 15px;
  font-size: 1.7em;
  font-weight: 900;
  font-family: "Shrikhand", "sans-serif";
  width: 96%;
  display: flex;
  align-self: start;
}

/*Coeur*/

.coeur {
  display: flex;
  width: 4%;
  align-items: center;
  justify-content: center;
  margin: 0 30px 0 0;
}

.coeur i {
  font-size: 2em;
  position: absolute;
  transform: translateY(0%);
}

.far.fa-heart {
  margin: 0;
}

.fas.fa-heart {

  @include coeur();
}



/* ensemble des cartes*/
.ensemblemenu {
  margin-bottom: 10px;

}

/*animation des cartes*/
.cartes1 {
  animation: fondu 0.2s ease-in-out;
}

.cartes2 {
  animation: fondu 0.4s ease-in-out;

}

.cartes3 {
  animation: fondu 0.6s ease-in-out;

}

.cartes4 {
  animation: fondu 0.8s ease-in-out;
}

.cartes5 {
  animation: fondu 1s ease-in-out;

}

.cartes6 {
  animation: fondu 1.2s ease-in-out;

}

.cartes7 {
  animation: fondu 1.4s ease-in-out;
}

.cartes8 {
  animation: fondu 1.6s ease-in-out;

}

.cartes9 {
  animation: fondu 1.8s ease-in-out;

}

.cartes10 {
  animation: fondu 2s ease-in-out;

}


/*Animation cartes Keyframes*/
@keyframes fondu {
  0% {
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }

  50% {
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }

  100% {
    transform: translateZ(0) rotateX(0);
  }
}

/*Entrees*/
.entrees,
.plats,
.desserts {
  width: 30%;
  margin: 0 1% 0 1%;

}

.blockmenu {
  height: auto;
  display: flex;
  justify-content: center;
  width: 100%;

}

.blockmenu h2 {
  border-bottom: 5px solid $vert;
  width: 65px;
  margin: 0 0 1em 0px;
  font-weight: 300;
}

/*cartes menu entrees*/

.cartes {
  background-color: white;
  border-radius: 15px;
  width: auto;
  box-shadow: 0.3em 0.3em 1em rgb(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
  margin: 10px 0 30px 0;
  padding: 10px;

  &:hover {
    padding-right: 75px;
  }

  &:hover .check {
    opacity: 1;
    transform: translate(-50px);
  }

  &:hover .fas.fa-check-circle {
    transform: rotate(360deg);
  }
}

div.description {
  margin: 10px 15px 0 12px;
  width: 100%;

}

div.description_desc {
  width: 100%;
  display: flex;
  justify-content: space-between;

}



.description h3 {
  margin: 0 1em 0 0;
  font-size: 1.3em;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}

.description_desc,
p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 7px 0 7px 0;
}

span.prix {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 1rem;
  margin: 0 15px 5px 0;

}


.check {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $vert;
  width: 90px;
  height: 103px;
  border-radius: 0 15px 15px 0;
  position: absolute;
  padding: 20px;
  right: -51px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;


  & .fa-check-circle {
    color: #fff;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 500ms ease-in-out;
    width: auto;
  }
}

/*Bouton commander*/
div.commander {
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

div.commander input {
  color: white;
}

.commander input {
  @include btn();
  padding: 0.9em 1.5em;
  border: none;
  margin: 0 0 3em 0;

}


/*footer*/
.footer a {
  text-decoration: none;
}

/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: $grisfooter;
  color: white;
  margin: 0em 0 0 0px;
  width: 100%;
  position: absolute;
}

.footerdescription h4 {
  color: white;
  font-weight: 200;
  font-size: 25px;
  font-family: Shrikhand;
  margin: 20px 0 20px 0;
}

.footerdescription,
a {
  color: white;
  margin-bottom: 1em;
  font-size: 15px;
}

.footerdescription {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 40px;
}

.footerdescription a .fas.fa-ustensils {
  height: 15px;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*MEDIA QUERY*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*Version Tablette*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@media all and (max-width: 998px) {

  /*image de la page d'accueil*/
  div.restaurant img {
    margin: -250px 0 -80px 0;
    width: 100%;
    object-fit: cover;
  }

  /*titre avec coeur*/
  div.titre {
    width: 100%;
  }

  .titre h1 {
    margin: 30px 0 30px 1.9em;
    font-size: 1.7em;
    padding: 0;
    width: 85%;
  }

  .coeur {
    width: 20%;
    margin: 0 10px 0 10px;
  }

  .far.fa-heart {
    margin: 0 0 0 0;
  }

  /*block cartes repas */
  .blockmenu {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .entrees,
  .plats,
  .desserts {
    width: 100%;

  }

  .cartes {
    width: 99%;
    margin: 10px 0 30px 0;
  }

  .description_desc {
    margin: 0 0 10px 0;
  }

  .footerdescription {
    margin: 0 0 20px 55px;
  }
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*Version Portable*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

@media all and (max-width: 768px) {


  /*NAVBAR*/
  .conteneur {
 
    margin: 0;
    background-color: white;
    height: 60px;
  }

  .conteneur a.titre {
    margin: 0;
    font-size: 0.8em;
  }
  .titre h5{
    margin: 0;
  }

  /*fleche*/
  .fas.fa-arrow-left {
    margin: 20px 0 0 20px;
    font-size: 1.3em;
    justify-content: center;
  }



  /*Carte menu*/
  div.restaurant img {
    margin: -200px 0 -100px 0;
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }

  .couleurfond {
    margin-top: -30px;
    height: 100%;
    width: 100%;
  }



  /*titre accueil*/
  div.titre {
    width: 90%;
    display: flex;
    justify-content:flex-start;
  }

  .titre h1 {
    font-size: 1.6em;
    font-weight: 900;
    margin: 30px 0 30px 5px;
    font-family: "Shrikhand", "sans-serif";
    width: 70%;
    display: flex;
    justify-content: flex-start;
  }

  /*Coeur*/
  .coeur {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px 0 -10px;
    width: 19%;
  }

  .coeur i {
    font-size: 1.7em;
  }

  /*Block cartes*/
  .blockmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    position: inherit;
    height: 100%;
    margin: 0 10px 0 10px;
  }


  .entrees,
  .plats,
  .desserts {
    width: 99%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: 0;
  }

  .entrees h2,
  .plats h2,
  .desserts h2 {
   font-size:1.4em;
   margin: 0 0 0 1.5em;

   
  }

  /*Espace sur plat et dessert*/
  .plats,
  .desserts {
    margin-top: 3em;
  }

  .blockmenu {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0;
  }

  /*ensemble menu pour centre le menu*/
  .ensemblemenu {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*cartes marges*/
  div.cartes {
    background-color: white;
    display: flex;
    border-radius: 15px;
    margin: 1rem 0;
    box-shadow: 0.2em 0.2em 1em rgb(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    width: 90%;

  }

  /*polices des cartes*/
  .description_desc div.description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    margin: 0;
  }

  .description h3 {
    margin: 0 1em 0 0;
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.4em;
  }

  .description p {
    margin: 10px 0 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: 300;
  }


  span.prix {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px 15px 0 0;
    padding: 0 1rem;
  }


  .fas.fa-check-circle {
    font-size: 1.7em;
    color: white;
    padding: 1.4em;

    &:hover {
      transform: rotate(360deg);
      transition-duration: 0.5s;
    }
  }

  /*hauteur du chek pour adapter a la taille de la carte*/
  .check {
    height: 101px;
    width: 90px;
    margin: 0 0 0 10px;
  }

  div.check i {

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition-duration: 0.1s;

    &:hover {
      transition-duration: 0.5ms;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      transition-duration: 0.5s;
      animation: cartes;
    }
  }

  /*Animation cartes menu*/
  @keyframes cartes {
    0% {
      transform: scale(0)
    }

    100% {
      transform: scale(1);
    }
  }

  /*bouton commander*/
  .commander {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: row;
  }

  /*footer*/
  .footer {
    margin: 0 0 0 0px;
    width: 100%;

  }

  .footerdescription {
    margin: 0 0 30px 45px;
    align-items: flex-start;
    display: flex;

  }
}